#category {
	display: block;
	margin: 0 auto;
	padding-left: 5px;
	width: 87%;
	max-width: 305px;
	border-radius: 5px;
	border-style: none;
	height: 27px;
	margin-bottom: 10px;
	font-weight: 300;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
}