* {
	box-sizing: border-box;
}
#value-container {
	margin: 0 auto;
	width: 85%;
	max-width: 300px;
	position: relative;
}
#value-container > span {
	position: absolute;
	left: 8px;
	top: 4px;
}
#value {
	width: 100%;
	border-radius: 5px;
	border-style: none;
	height: 25px;
	margin-bottom: 10px;
	padding-left: 5px;
	font-weight: 300;
	display: block;
	padding-left: 18px;
}
#date {
	padding-left: 8px;
}
#description {
	padding-left: 8px
}