.input-wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 370px;
}
.form-percentage-input {
	display:inline-block;
	width: 20%;
	max-width: 300px;
	border-radius: 5px;
	height: 25px;
	font-weight: 300;
	text-align: left;

}
.percent {
	width: 0;
	text-align: center;
	position: relative;
	right: 10%;
}
.arrow {
	width: 5%;
	position: relative;
	color: white;
	right: 2%;
}
.percentage-result {
	display:inline-block;
	width: 50%;
	background-color: white;
	max-width: 300px;
	border-radius: 5px;
	vertical-align: middle;
	height: 29px;
	line-height: 30px;
	margin-bottom: 2px;
}
.percentage {
	position: relative;
	bottom: 25px;
	right: 100px;
	
}
@media and screen only (min-width: 400px) {
	.form-percentage-input {
		width: 15%;
	}
	.percentage-result {
		width: 60%;
	}
}
