* {
  box-sizing: border-box;
}
.budget-overview {
  text-align: center;
  margin: 0 auto;
}
#remaining-budget {
  width: 90%;
  height: 80px;
  padding-top: 5px;
  border: solid 1px rgba(69, 161, 246, 1);
  margin: 0 auto;
  border-radius: 5px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 20px;
}
#remaining-budget > p {
  margin: 10px 0px 0px 0px;
}
#remaining-budget-number {
  font-weight: 500;
}
.row {
  width: 90%;
  margin: 0 auto;
  font-size: 0;
}
.column {
  width: 100%;
  border: 1px rgba(0, 237, 52, 1) solid;
  border-radius: 5px;
  display: block;
  height: 80px;
  padding-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 300;
  font-size: 15px;
  margin: 10px auto;
}
.column-header {
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}
.column-value {
  font-weight: 500;
}
#add-expense-button {
  margin-top: 30px;
  height: 40px;
  font-size: 20px;
}
#expense-list {
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin-top: 20px;
}
.list-item-left,
.list-item-right {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: inherit;
  font-size: 18px;
}
.list-item-left > p,
.list-item-right > p {
  margin: 0;
}
.list-item-left > p > span {
  font-weight: 500;
}
.expense-list-item {
  border: 1px rgba(69, 161, 246, 1) solid;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 0px;
}
@media only screen and (min-width: 600px) {
  .column {
    width: 49%;
    display: inline-block;
  }
  #left {
    margin-right: 1%;
  }
  #right {
    margin-left: 1%;
  }
  .list-item-left,
  .list-item-right {
    display: inline-block;
    width: 49%;
    white-space: nowrap;
    overflow: hidden;
  }
  .list-item-left > p > span,
  .list-item-right > p > span {
    font-weight: 500;
    font-size: 18px;
  }
  .list-item-left {
    text-align: left;
    padding-left: 10px;
  }
  .list-item-right {
    text-align: right;
    padding-right: 10px;
  }
}
